@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');

html,body {
    font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    padding: auto;
    margin: auto;
    scroll-behavior: smooth;
    
    
}
a{
    text-decoration: none;
}
.navbar {
    position:fixed;
    transition: top 1s ease;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    transition: ease 2s;
    height: 25px;
    z-index: 2;
    

}
.navbar.hidden{
    top: -75px;
    transform: (20);
}
.div-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    padding-right: 4rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgb(226, 226, 226);
    height: 100%;
}

.a-nav{
    text-decoration: none;
    color: #288870;
    height: 20px;
}
.red-nav{
    text-decoration: none;
    color: #288870;
    height: 20px;
}
.a-nav:hover{
    color: #4a4a4a;
    cursor: pointer;
    
}

.red-nav:hover{
    color: #800002;
    cursor: pointer;
    
}

.logo-style{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: calc 1rem;
    
}
.img-style{
    width: 1.40rem;
    margin-right: 15px;
}

.logo-style:hover{
    cursor: pointer;
    
}
.judul{
    font-weight: 700;
    font-size: 1.125rem;
    color: #288870;
}
.menu-navbar{
    color: #047659;
    display: flex;
    flex-direction: row;
    margin-left: calc 3.5rem;
    margin-right: calc 3.5rem;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: small;
    padding-left: 60px;
    list-style-type: none;
}

.nav-margin{
    margin-right: 40px;
}

.nav-margin:hover{
    color: #6e6e6e;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 75ms;
}
 
.nav-red-margin:hover{
    color: #800002;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 75ms;
    
}

.ul-profile{
    padding-left: 5rem/* 80px */;
    padding-right: 5rem/* 80px */;
}
.li-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.li-profile:hover{
    color: #6e6e6e;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 75ms;
    
}

.lucide-profile{
    width: 1.25rem;
}
.text-profile{
    margin-left: 10px;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
}






.section1{
    background-color: #000000;
    
}
.main-abilify{
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/images/bgabilifytv.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    opacity: 70%;

    
}
.container-abilify{
    margin-left: 300px;
    width: 50%;
    height: 100vh;
    /* background: #000; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding-top: 240px;
    text-align: center;
}
.judul-abilify{
    color: rgba(241, 241, 241, 0.827);
    font-size: 46px;
    padding-left: 0px;
    padding-right: 40px;
    word-spacing: 10px;
    text-shadow: 1px 18px 70px #03533f;
}
.tombol-abilify{
    color: #00382a;
    display: flex;
    flex-direction: column;
    background-color:rgba(255, 255, 255, 0.466);
    width: 330px;
    height: 60px;
    justify-content: center;
    margin-top: 200px;
    margin-left: 150px;
    border-radius: 8px;

    font-weight: 800;
    letter-spacing: 2px;
    box-shadow: 1px 18px 200px rgba(3, 83, 63, 0.954);
}
.tombol-abilify:hover{
    color: #bdbdbd;
    background-color:#022b219e;


}







.section2{
    background-color: aliceblue;
}
.main-thematic{
    height: 100vh;
    display: flex;
    flex-direction: column;
    

    
}
.judul-thematic{
    display: flex;
    flex-direction: column;
    height: 20vh;
    align-items: center;
    justify-content: center;
    color: #00392b;
    letter-spacing: 1.3px;
    word-spacing: 4px;
    font-size:large;
}
.container-tema1{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45vh;
    justify-content: center;
    
    
}
.container-tema2{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45vh;
    justify-content: center;
    
}
.tema{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 260px;
    color: #00392b;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 4px;
    border-bottom-right-radius: 60px;
    border-top-left-radius:40px;
    box-shadow: -1px 1px 40px #5858584d;
    transition: ease .2s;

}

.container-tema1{
    height: 35%;

}
.image-tema{
    border-top-right-radius: 4px;
    border-top-left-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;  
      
}
.nama-tema{
    padding-top: 10px;
    padding-left: 20px;
    font-size: small;
    font-weight: 700;

}
.deskripsi{
    padding-left: 20px;
    padding-right: 20px;
    font-size:11px;
    font-weight: 300;
    text-align:justify;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.deskripsi::after{
    content: " ";
    display:inline-block;
    width: 100%;
}


.tema:hover{
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 1px 1px 30px #4f4f4fa6 ;

    
}



























.footer{
    background: #ffffff;
    height: 30vh;
}
.container-footer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #000000;
    
    

}
.bg-footer{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 20%;
    
}