@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');

html,body {
    font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    padding: auto;
    margin: auto;
    scroll-behavior: smooth;
    
    
}
a{
    text-decoration: none;
}
.navbar {
    position:fixed;
    transition: top 1s ease;
    /* padding-left: 0px;
    padding-right: 0px; */
    width: 100%;
    transition: ease 2s;
    height: 25px;

}
.navbar.hidden{
    top: -75px;
    transform: (20);
}
.div-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    padding-right: 4rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgb(226, 226, 226);
    height: 100%;
}

.a-nav{
    text-decoration: none;
    color: #288870;
    height: 20px;
}
.red-nav{
    text-decoration: none;
    color: #288870;
    height: 20px;
}
.a-nav:hover{
    color: #4a4a4a;
    cursor: pointer;
    
}

.red-nav:hover{
    color: #800002;
    cursor: pointer;
    
}

.logo-style{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: calc 1rem;
    
}
.img-style{
    width: 1.40rem;
    margin-right: 15px;
}

.logo-style:hover{
    cursor: pointer;
    
}
.judul{
    font-weight: 700;
    font-size: 1.125rem;
    color: #288870;
}
.menu-navbar{
    color: #047659;
    display: flex;
    flex-direction: row;
    margin-left: calc 3.5rem;
    margin-right: calc 3.5rem;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: small;
    padding-left: 60px;
    list-style-type: none;
}

.nav-margin{
    margin-right: 40px;
}

.nav-margin:hover{
    color: #6e6e6e;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 75ms;
}
 
.nav-red-margin:hover{
    color: #800002;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 75ms;
    
}

.ul-profile{
    padding-left: 5rem/* 80px */;
    padding-right: 5rem/* 80px */;
}
.li-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.li-profile:hover{
    color: #6e6e6e;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 75ms;
    
}

.lucide-profile{
    width: 1.25rem;
}
.text-profile{
    margin-left: 10px;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
}
.home-section{
    background-color: rgb(248, 248, 248);
}
.main-home-section{
    height: 100vh;
    display: flex;
    flex-direction: row;
    

    

}
.div1-main-home-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 120px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.h1-div-main-home-section{
    color: #047659;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
    line-height: 1.5;
}
.span-creativity{
    color: #e54a4c;
}
.text-div-main-home-section{
    color: #005d46;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    text-align: justify;
    margin-top: 20px;
}
.button-join{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    width: 500px;
    height: 40px;
    border-radius: 8px;
    background-color: rgb(150, 150, 150);

    /* background-image: linear-gradient(#047659, rgb(217, 217, 217)); */
}
.button-join>a{
    text-decoration: none;
    color: #ffffff;
    text-align: center;



}

.button-join:hover {
    cursor: pointer;
    background-color: #6e6e6e;
    color: rgb(0, 0, 0);

}
.div2-main-home-section{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-div2-main-home-section{
    width: 600px/* 48px */;
    padding-right: 80px;
    border-radius: 0.5rem/* 8px */;
    
}

/* --------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------*/
/* Section 2 - Fitur */

.section2{
    background-color: rgb(240, 240, 240);
}
.main-fitur{
    display: flex;
    flex-direction: column;
    height: 100vh;

}
.container1-fitur{
    
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-bottom: 45px;
    margin-top: 40px;
    
    
}

.judul-fitur{
    color: #034e3b;
    align-items: center;
    text-align: center;
    justify-content: end;
    width: 48vw; 
    padding-left: 260px;
}
.deskripsi-fitur{
    color: #034e3b;
    align-items: start;
    text-align: justify;
    padding-left: 100px;
    width: 62vw;
    padding-right: 300px;
    word-spacing:2px;
    line-height: 24px;


}

.container2-fitur{
    height: 65vh;
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 100px;
    justify-content: center;
}
.fitur{
    color: #034e3b;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    background: #ffffff;
    width: 240px;
    height: 340px;
    border-radius: 20px;
    box-shadow: 2px 8px 40px #c2c2c2 ;
    
}

.fitur:hover{
    cursor: pointer;
    transform: scale(1.5);
    box-shadow: 2px 8px 40px #145e4ba6 ;
    transition: 0.8s;

    
}
.container-fitur1{
    height: 35%;

}
.image-fitur1{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;  
      
}
.nama-fitur{
    padding-top: 10px;
    padding-left: 20px;
    font-size: small;
    font-weight: 700;

}
.deskripsi{
    padding-left: 20px;
    padding-right: 20px;
    font-size:11px;
    font-weight: 300;
    text-align: justify;
}

.trynow{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-left: 20px; 
    border-radius: 60px;
    justify-content: center;
    
    
    color: #034e3b;
    font-size: small;
    
    transition: ease ;
    background: transparent;
    border: none;
    width: 120px;
    height: 38px;
    
}
.trynow:hover{
    color: aliceblue;
    background-color: #2d8770;
    text-align: center;    
}

/* -----------------------
--------------------------
--------------------------
--------------------------
--------------------------
-------------------------- */

/* section 3 - acces */

.section3{
    background: #f7f7f7;
}
.main-akses{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    

}
.container-judul-akses{
    height: 24vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.judul-akses{
    width: 100%;
    text-align: center;
    color: #034132;
    font-size:xx-large;
    word-spacing: 4px;
}
.deskripsi-akses{
    padding-top: 0%;
    color: #023528;
    padding-left: 330px;
    padding-right: 330px;
    text-align: center;
    word-spacing: 2px;
    
}
.container-akses{
    display: flex;
    flex-direction: row;
    background: #004838;
    height: 50%;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
}
.bg-akses{
    height: 100%;
    width: 100%;
    opacity: 15%;
}
.box-akses{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 50vh;
    justify-content: center;

}
.akses{
    display: flex;
    flex-direction: column;
    background: #00000041;
    margin-left: 40px;
    margin-right: 40px;
    width: 300px;
    align-items: center;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.h2-akses{
    margin-top: 20px;
    color: #f7f7f7;
    
}
.keterangan-akses{
    color: #f7f7f7;
    text-align: justify;
    text-align-last: center;
}


